/* Estilo general */
*{
    font-family: Arial, Helvetica, sans-serif;
}

#texto {
    /* Modificar fuente */
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
} 

.verdana{
    font-family: serif;
    font-weight: 700;
    font-size: 20px;
}

p{
    font: bold 17px Thahoma;
    text-align: right;
    text-indent: 30px;
    font-style: oblique;
    line-height: 20px;
}

#texto img{
    vertical-align: text-top;
}

/* Modificar enlaces*/
#texto a{
    text-decoration:  none;
}

